[submodule "proxyrearm"]
	path = proxyrearm
	url = https://github.com/gabrielefronze/proxyrearm
[submodule "satel_lite"]
	path = satel_lite
	url = https://github.com/gabrielefronze/satel_lite.git
[submodule "fastlog"]
	path = fastlog
	url = https://github.com/gabrielefronze/fastlog.git
